<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icon/favicon-16x16.png">
    
    <title>게시판목록</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
</head>

<body>
    {% include './menu.html' %}
    <div class="container">
        <table class="table">
            <tr>
                <th>글번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>조회수</th>
                <th>날짜</th>
            </tr>
            {% for one in data %}
            <tr>
                <td>{{ one.0 }}</td>
                <td><a href="/board/content?no={{one.0}}">{{ one.1 }}<a></td>
                <td>{{ one.3 }}</td>
                <td>{{ one.4 }}</td>
                <td>{{ one.5 | date:"Y-M-d" }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>