<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>회원 탈퇴 확인</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="static/css/mystyle.css" rel="stylesheet" />
</head>
<body>
    
    <div class="container">
        <div class="box">
            {##<form action="boardw" method="POST">##}
            {##<form action="boardr" method="GET">##}       {##get으로 하면 주소창 너무 길어지기때문에 post로##}
            <div class="box">
            <div class="form-inline" style="margin-top:5px">
                <label style="width:90px">회원 탈퇴가 완료되었습니다.</label>
                
            </div>
            
            
            <div class="form-inline" style="margin-top:5px">

                &nbsp;&nbsp;
                <a href="index" class="btn btn=btn-success">홈으로</a>
            </div>
        </div>    
            </form>

        </div>    
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
                <div class="row">
                  <div class="col-12 col-md">
                    <img class="mb-2" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
                    <small class="d-block mb-3 text-muted">&copy; 2017-2019</small>
                  </div>
                  <div class="col-6 col-md">
                    <h5>Features</h5>
                    <ul class="list-unstyled text-small">
                      <li><a class="text-muted" href="#">Cool stuff</a></li>
                      <li><a class="text-muted" href="#">Random feature</a></li>
                      <li><a class="text-muted" href="#">Team feature</a></li>
                      <li><a class="text-muted" href="#">Stuff for developers</a></li>
                      <li><a class="text-muted" href="#">Another one</a></li>
                      <li><a class="text-muted" href="#">Last time</a></li>
                    </ul>
                  </div>
                  <div class="col-6 col-md">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                      <li><a class="text-muted" href="#">Resource</a></li>
                      <li><a class="text-muted" href="#">Resource name</a></li>
                      <li><a class="text-muted" href="#">Another resource</a></li>
                      <li><a class="text-muted" href="#">Final resource</a></li>
                    </ul>
                  </div>
                  <div class="col-6 col-md">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                      <li><a class="text-muted" href="#">Team</a></li>
                      <li><a class="text-muted" href="#">Locations</a></li>
                      <li><a class="text-muted" href="#">Privacy</a></li>
                      <li><a class="text-muted" href="#">Terms</a></li>
                    </ul>
                  </div>
                </div>
              </footer>
    </div>
</body>
</html>