<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>auth_edit</title>
</head>
<body>
    <form action="/shop/auth_edit" method="post">
        <input type="text" name="username" value="{{user.username}}" readonly />
        <input type="text" name="first_name" value="{{user.first_name}}"  />
        <input type="text" name="email" value="{{user.email}}"  />
        <input type="submit" value="회원정보 수정"  />
    </form>


</body>
</html>