<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>그래프 입력</title>
</head>
<body>
    <form action="/shop/graphinsert" method="POST">
        ID : <input type="text" name="id" /><br />
        AGE : <input type="text" name="age" /><br />
        NAME : <input type="text" name="na" /><br />
        
        
        <input type="submit" value="입력" />
    </form>
    
</body>
</html>