<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>발롱도르</title>
</head>
<body>
    <form action="/shop/insert" method="POST">
        ITM_NAME : <input type="text" name="na" /><br />
        ITM_CONTENT : <input type="text" name="co" /><br />
        ITM_PRICE : <input type="text" name="pr" /><br />
        ITM_QTY : <input type="text" name="qt" /><br />
        {##2019 Ballon d'Or : <input type="text" name="messi" class="form-control" placeholder="메시" />##}
        <input type="submit" value="insert" />
    </form>
    
</body>
</html>