<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update</title>
</head>
<body>
    <form action="/shop/update_multi" method="POST">
        {% for one in abc %} 
        <input type="text" name="a[]" value="{{one.id}}" readonly/>
        <input type="text" name="b[]" value="{{one.name}}" />
        <input type="text" name="c[]" value="{{one.age}}" /><br />
        {% endfor %}
        <input type="submit" value="여러개 일괄 수정" />
    </form>
    
</body>
</html>