
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
            <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="#">Features</a>
                <a class="p-2 text-dark" href="#">Enterprise</a>
                <a class="p-2 text-dark" href="#">Support</a>
                <a class="p-2 text-dark" href="#">Pricing</a>
                
                {{ request.session.userid }}

                {% if request.session.userid %}
                {{session.username}} 님 환영합니다.
                <a href="/member/logout">로그아웃</a>
                    {% else %}
                <a href="/member/login">로그인</a>
                    {% endif %}

                <a class="p-2 text-dark" href="/memeber/join">회원가입</a>
                <a class="p-2 text-dark" href="/member/memberdel">회원탈퇴</a>
                <a class="p-2 text-dark" href="/member/list">회원목록</a>
                
                <a class="p-2 text-dark" href="/board/list">게시판</a>
                <a class="p-2 text-dark" href="/board/write">글쓰기</a>
            </nav>
                <a class="btn btn-outline-primary" href="#">Sign up</a>    
        </div>  
    